
/* Variáveis de cor */
:root {
    --azul-padrao: #49A8DB;
    --azul-padrao-hover: #3c8cb8;
    --cinza-padrao: #9e9e9e62;
    --branco-padrao: #fff;
    --texto: #131313;
    --borda-tabela : #5a5a5a;
    --vermelho-erro: #ee2e2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 3rem 2rem;
    color: var(--texto);
}

.cabecalho {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.politica-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 25%;
}

.titulo-politica {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--azul-padrao);
}

.divisor {
    color: var();
    border: 1px solid var(--cinza-padrao);
    opacity: .5;
    margin: 1rem 0;
}

.operacoes-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 75%;
}

.operacoes-container div {
    gap: .4rem;
}

.carga-horaria-container {
    display: flex;
    flex-direction: column;
    max-width: 8.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.input-hora {
    border: 1px solid var(--texto);
    border-radius: 5px;
    padding: .5rem 1.2rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.input-hora:focus {
    outline: none;
}

.marcacoes-container {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.lista-marcacoes {
    list-style: none;
    display: flex;
    gap: .8rem;
}

.marcacoes-container-lista {
    display: flex;
    flex-direction: column;
}
 
.marcacoes-container-lista, .lista-marcacoes {
    flex-wrap: wrap;
}

.item-marcacao .input-hora {
    width: 5.6rem;
}

.botao-adicionar-marcacao {
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--azul-padrao);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: var(--branco-padrao);
    font-size: 2rem;
    margin-top: 2.2rem;
    margin-left: .5rem;
    transition: all .2s;
}

.botao-adicionar-marcacao:hover {
    background-color: var(--azul-padrao-hover);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.botao-adicionar-marcacao:focus {
    outline: none;
}

.texto-botao {
    margin-bottom: 0.16rem;
}

.botao-container {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.botao-calcular {
    width: 12.3rem;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--azul-padrao);
    border: none;
    border-radius: 5px;
    color: var(--branco-padrao);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.botao-calcular:hover {
    transform: scale(1.05);
    background-color: var(--azul-padrao-hover);
}

.container-tabela-resultados {
    width: 100%;
    border-radius: 5px;
}

.container-tabela-resultados div span {
    font-size: 1.2rem;
    font-weight: 500;
    width: 16.6%;
}

.cabecalho-tabela-resultados {
    display: flex;
    padding: 10px;
    font-weight: bold;
    color: #3da8f5;
    text-align: center;
    background-color: #ffffff;
    align-items: center;
}

.linha-resultados {
    display: flex;
    padding: 15px 10px;
    text-align: center;
    color: var(--texto);
    border: 1px solid var(--borda-tabela);
    border-radius: 5px;
}

/* Tratamento de Erros (estilo) */
.erro-hora {
    border: 2px solid var(--vermelho-erro);
}
